


  <!-- Header Start -->
  <div class="container-fluid bg-dark px-0">
    <div class="row gx-0">
        <div class="col-lg-3 bg-dark d-none d-lg-block">
            <a href="index.html" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                <h1 class="m-0 text-primary text-uppercase">Hotelier</h1>
            </a>
        </div>
        <div class="col-lg-9">
            <div class="row gx-0 bg-white d-none d-lg-flex">
                <div class="col-lg-7 px-5 text-start">
                    <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                        <i class="fa fa-envelope text-primary me-2"></i>
                        <p class="mb-0">info@example.com</p>
                    </div>
                    <div class="h-100 d-inline-flex align-items-center py-2">
                        <i class="fa fa-phone-alt text-primary me-2"></i>
                        <p class="mb-0">+012 345 6789</p>
                    </div>
                </div>
                <div class="col-lg-5 px-5 text-end">
                    <div class="d-inline-flex align-items-center py-2">
                        <a class="me-3" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="me-3" href=""><i class="fab fa-twitter"></i></a>
                        <a class="me-3" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="me-3" href=""><i class="fab fa-instagram"></i></a>
                        <a class="" href=""><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                <a href="index.html" class="navbar-brand d-block d-lg-none">
                    <h1 class="m-0 text-primary text-uppercase">Hotelier</h1>
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="index.html" class="nav-item nav-link">Home</a>
                        <a href="about.html" class="nav-item nav-link">About</a>
                        <a href="service.html" class="nav-item nav-link">Services</a>
                        <a href="room.html" class="nav-item nav-link active">Rooms</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="booking.html" class="dropdown-item">Booking</a>
                                <a href="team.html" class="dropdown-item">Our Team</a>
                                <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            </div>
                        </div>
                        <a href="contact.html" class="nav-item nav-link">Contact</a>
                    </div>
                    <a href="https://htmlcodex.com/hotel-html-template-pro" class="btn btn-primary rounded-0 py-4 px-md-5 d-none d-lg-block">Premium Version<i class="fa fa-arrow-right ms-3"></i></a>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(/assets/img/carousel-1.jpg);">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Rooms</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Rooms</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Page Header End -->


 <!-- Booking Start -->
 <div class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container">
      <div class="bg-white shadow" style="padding: 35px;">
          <div class="row g-2">
            <form class="row g-2" *ngIf="searchForm" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
              <div class="col-md-10">
                  <div class="row g-2">
                      <div class="col-md-3">
                          <div class="date" id="date1" data-target-input="nearest">
                              <input formControlName="startDate" id="startDate" type="date" class="form-control datetimepicker-input"
                                  placeholder="Check in" data-target="#date1" data-toggle="datetimepicker" />
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="date" id="date2" data-target-input="nearest">
                              <input type="date" formControlName="endDate" id="endDate" class="form-control datetimepicker-input" placeholder="Check out" data-target="#date2" data-toggle="datetimepicker"/>
                          </div>
                      </div>
                      <!-- <div class="col-md-3">
                          <select class="form-select">
                              <option selected>Adult</option>
                              <option value="1">Adult 1</option>
                              <option value="2">Adult 2</option>
                              <option value="3">Adult 3</option>
                          </select>
                      </div>
                      <div class="col-md-3">
                          <select class="form-select">
                              <option selected>Child</option>
                              <option value="1">Child 1</option>
                              <option value="2">Child 2</option>
                              <option value="3">Child 3</option>
                          </select>
                      </div> -->
                  </div>
              </div>
             
              
    
  
                <!-- <div>
                  <label for="view">Start Date:</label>
                  <input type="date" formControlName="startDate" id="startDate">
                </div> -->
                <!-- <div>
                  <label for="view">End Date:</label>
                  <input type="date" formControlName="endDate" id="endDate">
                </div> -->
                
                <div class="col-md-2">
                  <button class="btn btn-primary w-100" [disabled]="searchForm.invalid">Submit</button>
                </div>
              </form>
          </div>
      </div>
  </div>
</div>
<!-- Booking End -->

  <!-- Room Start -->
  <div class="container-xxl py-5">
      <div class="container">
          <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
              <h6 class="section-title text-center text-primary text-uppercase">Our Rooms</h6>
              <h1 class="mb-5">Explore Our <span class="text-primary text-uppercase">Rooms</span></h1>
          </div>
          <div class="row g-4">
              <div *ngFor="let room of roomList" class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                  <div class="room-item shadow rounded overflow-hidden">
                      <div class="position-relative">
                          <img class="img-fluid" src="/assets/img/room-1.jpg" alt="">
                          <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">$100/Night</small>
                      </div>
                      <div class="p-4 mt-2">
                          <div class="d-flex justify-content-between mb-3">
                              <h5 class="mb-0">Junior Suite</h5>
                              <div class="ps-2">
                                  <small class="fa fa-star text-primary"></small>
                                  <small class="fa fa-star text-primary"></small>
                                  <small class="fa fa-star text-primary"></small>
                                  <small class="fa fa-star text-primary"></small>
                                  <small class="fa fa-star text-primary"></small>
                              </div>
                          </div>
                          <div class="d-flex mb-3">
                              <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                              <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                              <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                          </div>
                          <p class="text-body mb-3">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                          <div class="d-flex justify-content-between">
                              <a class="btn btn-sm btn-primary rounded py-2 px-4" (click)="editRoom(room.id)" >View Detail</a>
                              <a class="btn btn-sm btn-dark rounded py-2 px-4" (click)="bookRoom(room.id)">Book Now</a>
                          </div>
                      </div>
                  </div>
              </div>
              
          </div>
      </div>
  </div>
  <!-- Room End -->


<!--   



<form *ngIf="searchForm" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    
  
  <div>
    <label for="view">Start Date:</label>
    <input type="date" formControlName="startDate" id="startDate">
  </div>
  <div>
    <label for="view">End Date:</label>
    <input type="date" formControlName="endDate" id="endDate">
  </div>
  
  <button type="submit" [disabled]="searchForm.invalid" >Submit</button>
</form>



<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">capacity</th>
        <th scope="col">view</th>
        <th scope="col">price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of roomList ">
        <th scope="row">{{room.id}}</th>
        <td>{{room.capacity}}</td>
        <td>{{room.view}}</td>
        <td>{{room.price}}</td>
        <td>
          <button class="btn btn-primary" (click)="editRoom(room.id)">Edit</button>
          <button class="btn btn-danger" (click)="deleteRoom(room.id)">Delete</button>
          <button class="btn btn-info" (click)="bookRoom(room.id)">Book</button>
        </td>    
    </tr>
    </tbody>
  </table> -->