

<form *ngIf="searchForm" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    
  
  <div>
    <label for="view">Start Date:</label>
    <input type="date" formControlName="startDate" id="startDate">
  </div>
  <div>
    <label for="view">End Date:</label>
    <input type="date" formControlName="endDate" id="endDate">
  </div>
  
  <button type="submit" [disabled]="searchForm.invalid" >Submit</button>
</form>



<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">capacity</th>
        <th scope="col">view</th>
        <th scope="col">price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of roomList ">
        <th scope="row">{{room.id}}</th>
        <td>{{room.capacity}}</td>
        <td>{{room.view}}</td>
        <td>{{room.price}}</td>
        <td>
          <button class="btn btn-primary" (click)="editRoom(room.id)">Edit</button>
          <button class="btn btn-danger" (click)="deleteRoom(room.id)">Delete</button>
          <button class="btn btn-info" (click)="bookRoom(room.id)">Book</button>
        </td>    
    </tr>
    </tbody>
  </table>